---
title: ThawDawg Equipment Sales and Leasing
description: ThawDawg is a small-footprint ground-thawing unit, perfect for cemetery plots, concrete footings, utility work and more.
draft: false
featuredImage: images/600x900.png
---
{{#> layouts/main }}
    {{#* inline "sections/content-block" }}
        {{> components/subhead text="Set Up Today, Dig Tomorrow" data=components.subhead }}
        <div class="light">
        {{#> components/content }}
            <h1 class="uk-article-title" style="color:#464646;">ThawDawg Equipment</h1>
            <p>
                Need spring to come early? You’ve come to the right place! ThawDawg is a small-footprint ground-thawing unit, perfect for cemetery plots, concrete footings, utility work and more. Our patented system is easy to transport and set up with just two people, keeping your team moving in the coldest time of year.
            </p>
            <p>
                The only question left to ask is: which size ThawDawg is right for your application? ThawDawg comes in two sizes:
            </p>
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <h3 style="color:#464646;">36x54 ThawDawg</h3>
                    <ul>
                        <li><strong>Dimensions:</strong> 36"x54"</li>
                        <li><strong>Thawing Area:</strong> ~42"x60"</li>
                        <li><strong>Weight: </strong>130 lbs.</li>
                        <li><strong>Thawing Depth:</strong> ~1"/hour</li>
                        <li><strong>Fuel:</strong> Standard 20 lbs. LP tank</li>
                        <li><strong>Safety: </strong>Cool to the touch | Auto-shut off if burner goes out</li>
                        <li><strong>Price: </strong><a href="/contact/">Call or Email</a> for pricing, including shipping quotes. Discounts available (bulk, distributors, Veterans' organizations)</li>
                    </ul>
                </div>
                <div>
                    <h3 style="color:#464646;">48x54 ThawDawg</h3>
                    <ul>
                        <li><strong>Dimensions:</strong> 48"x54"</li>
                        <li><strong>Thawing Area:</strong> ~54"x60"</li>
                        <li><strong>Weight:</strong> 140 lbs.</li>
                        <li><strong>Thawing Depth:</strong> ~1"/hour</li>
                        <li><strong>Fuel:</strong> Standard 20 lbs. LP tank</li>
                        <li><strong>Safety: Cool to the touch | Auto-shut off if burner goes out</strong></li>
                        <li><strong>Price: </strong><a href="/contact/">Call or Email</a> for pricing, including shipping quotes. Discounts available (bulk, distributors, Veterans' organizations)</li>
                    </ul>
                </div>
            </div>
            <h3 style="color:#464646;">Features Of All Units</h3>
            <img class="uk-align-right" src="/images/thawdawg-instructions.jpg" alt="ThawDawg Heater Instructions and Warning" style="width:40%;">
            <ul>
                <li>Double-insulated, rolled-steel hull keeps the body of the unit cool to the touch.</li>
                <li>No moving parts to break/repair.</li>
                <li>Additional heater head supplied with each unit.</li>
                <li>Resistant to blow out, even under high winds.</li>
                <li>Every heater head and ThawDawg is quality and safety tested following production.</li>
            </ul>
            <h4 style="color:#464646;">Safety Warnings</h4>
            <p>
                Be sure to read the included safety manual for a complete list of safety precautions. However, some simple reminders:
                <ul>
                    <li>Only twenty pound (20#) DOT approved propane tanks are recommended for use with this unit - larger tanks are associated with a history of shorter heater life and will void any warranties. </li>
                    <li>Do not use in confined spaces or buildings. This unit is intended for outdoor use only</li>
                    <li>NEVER LEAVE THE UNIT UNATTENDED. </li>
                    <li>Manuals available for download:
                        <ul>
                            <li><a href="/images/2018-ThawDawg-Manual.pdf" target="_blank">2018 ThawDawg Manual</a></li>
                            <li><a href="/images/2018-HeaterReplacementGuide.pdf" target="_blank">2018 Heat Replacement Guide</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
            {{> components/gallery-row2}}
        {{/ components/content }}
        </div>
    {{/inline}}
{{/layouts/main}}