{{#if social.GooglePlus}}
{{#with social.GooglePlus}}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{default ../title name}}">
<meta itemprop="description" content="{{default ../description description}}">
<meta itemprop="image" content="{{cdnUrl}}/{{default ../featuredImage image}}">
{{/with}}
{{/if}}