{{#if social.openGraph}}
{{#with social.openGraph}}
<!-- Open Graph data -->
<meta property="og:title" content="{{default ../title title}}" />
<meta property="og:type" content="{{article}}" />
<meta property="og:url" content="{{url}}" />
<meta property="og:image" content="{{cdnUrl}}/{{default ../featuredImage image}}" />
<meta property="og:description" content="{{default ../description description}}" /> 
<meta property="og:site_name" content="{{site_name}}" />
<meta property="fb:admins" content="{{admins}}" />
{{/with}}
{{/if}}