{{#if social.twitterCard}}
{{#with social.twitterCard}}
<!-- Twitter Card data -->
<meta name="twitter:card" content="{{card}}">
<meta name="twitter:site" content="{{site}}">
<meta name="twitter:creator" content="{{default author site}}">
<meta name="twitter:title" content="{{default ../title title}}">
<meta name="twitter:description" content="{{default ../description description}}">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="{{cdnUrl}}/{{default ../featuredImage image}}">
{{/with}}
{{/if}}