/*
* Template CSS
* =============================================================
*/
body {
    height: 100%;
    background-color: @background-primary;
    color: @body-text;
    .body-font;
}

article p {
    color: #808080;
}

footer {
    // margin: 2em 0 0 0;
    padding: 1em;
    min-height: 100px;
    background-color: @footer-bg;
    height:100%;
}

footer .uk-divider-icon {
    opacity: 0.25;
}

.uk-heading-hero {
    .hero-font;
}

#hero-logo {
    max-width: 75%;
    width: 900px;
}

#logo {
    height: 85%;
}

#main-nav {
    background-color: @nav-bg;
    z-index: 999;
}

ul.uk-navbar-nav {
    height: 100%;
}

ul.uk-navbar-nav li  {
    position: relative;
    border-bottom:4px solid transparent;
}

ul.uk-navbar-nav li a {
    color: @nav-link;
}

ul.uk-navbar-nav li:hover  {
    border-bottom:4px solid @accent-main;
    background-color: @nav-link-bg-hover;
}

ul.uk-navbar-nav li a:hover {
    color: @nav-link-hover;    
}

// nav.uk-sticky-fixed {
//     height: 15%;
// }

ul.uk-navbar-nav li a {
    height: 100%;
}
ul.uk-navbar-nav li a li {
    height: 100%;
}
.uk-navbar-dropdown {
    color: #000;
    background: #000;
}

.uk-navbar-dropdown li {
    padding: 0 0.5em 0 0.5em;
    color:#000;
}

nav.uk-sticky-fixed #logo {
    padding: 2%;
}

/*
* Effects
* =============================================================
*/

.tdx-fade1 {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* Zoom In #1 */
.tdx-zoom-11 {
    -webkit-transform: scale(1);
	transform: scale(1);
    -webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.tdx-zoom-11:hover {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.tdx-border-right {
    border-left: 1px solid @muted;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    opacity: 0.5;
}

.uk-navbar-nav li:last-child .tdx-border-right {
    display:none;
}

/* Image row 'Gallery' styles*/
.tdx-gallery-item {
    display:block;
    width:100%;
    height:100%;
}


.tdx-gallery-title-container {
    width: 100%;
    min-height: 5%;    
    text-align: center;
    padding: 0.5em 0 0 0;
    position:absolute;
    top: 0px;
    z-index: 50;
}

.tdx-gallery-title-container h1 {
    color: #443525;
    font-size: 200%;
    opacity: 1;
}

.tdx-image-row .uk-cover-container {
    min-height: 240px;
}

.tdx-image-row {
    height:345px;
    background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

// .tdx-image-row .uk-grid {
//     height: 100%;
// }

/* Sloped background pattern */
.tdx-slope {
    background: @slope-bg;
    position: relative;
    z-index: 1;
}

.tdx-slope:before, .tdx-slope:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.tdx-slope:before {
    top: 0;
    -webkit-transform: skewY(1.7deg);
            transform: skewY(1.7deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
}

.tdx-slope:after {
    bottom: 0;
    -webkit-transform: skewY(-1.7deg);
            transform: skewY(-1.7deg);
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
}

/* Colored divider with animation */
.tdx-color-hdivider {
    height:5px; 
    width: 70%; 
    background-color:@accent-sub;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.tdx-color-hdivider-container:hover > .tdx-color-hdivider {
    width: 100%;
    background-color: @accent-main;
}

.tdx-quote-switcher {
    background-color: @background-primary;
}

.tdx-quote-switcher ul li {
    color: @quote-switcher-text;
}

.tdx-quote-switcher-nav {
    margin-top: 5%;
}

.tdx-mobile-canary {
    display: none;
}

.tdx-article {
    margin-top:5%;
}

.uk-dotnav li a {
    background: @muted;
}

.uk-dotnav > .uk-active >* {
    background: @accent-sub;
}


/* Mobile Menu Styling */
ul.tdx-mobimenu {
    list-style-type: none;
}

ul.tdx-mobimenu li a {
    height: 100%;
}

ul.tdx-mobisubmenu {
    list-style-type: none;
}

#mobimenu ul.tdx-mobisubmenu li {
    list-style-type: none;
    border: none;
    padding-bottom: 0;
    margin-left: 20px;
}

#mobimenu ul.tdx-mobisubmenu a {
    color: @body-text-light;
}

/* This is the offcanvas mobile menu.*/
#mobimenu li a {
    display:block;
}

#mobimenu li {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid silver;
}

#mobimenu ul {
    padding: 0;
}

.uk-button-default {
    background-color: @button-default-bg;
    border-color: @muted2;
    color: @muted2;
}

.uk-button-default:hover, .uk-button-default:focus {
    background-color: @muted2;
    border-color: @accent-sub;
    color: @accent-sub;
}

.tdx-quote-mobile {
    margin-top: 1em;
}

.tdx-quote-mobile ul {
    list-style-type: none;
}

.tdx-quote-mobile blockquote {
    color: white;
    font-size: 100%;
    margin-left: 0;
    width: 95%;
}

.tdx-gradient1 {
    background: rgba(255,255,255, 0.3);
}

.tdx-subheader {
    max-height: 300px;
}

.tdx-subheader h3 {
    font-size: 200%;
}

.tdx-gdpr-acknowledge {
    padding: 1em;
    background-color: rgb(221, 221, 221);
    font-size: 85%;
    font-style: italic;
}

.tdx-gdpr-acknowledge input {
    outline: 1px solid #1e5180;
}

#main-nav {
    opacity: 0.95;
    height: 70px;
}

.contact-wrapper {
    padding: 1em;
    color: @body-text;
}

.contact-wrapper h1, .contact-wrapper h2,.contact-wrapper h3, .contact-wrapper h4, .contact-wrapper h5, .contact-wrapper h6 {
    color: @primary;
}

legend.uk-legend {
    color: @primary;
}

blockquote {
    font-size: 24px;
    font-style: italic;
    width: 75%;
    line-height: 1.7;
    color: #383838;
    margin-left:auto; 
    margin-right:auto;
    padding-bottom: 1em;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
}

blockquote cite:before {
    content: "\2014 \2009";
}

@media (min-width: 960px) {
    blockquote {
        padding-top: 5%;
        height: 170px;
    }

    #main-nav {
        opacity: 0.95;
        height: 70px;
    }

    /* navbar during scroll */
    nav.uk-sticky-fixed {
        opacity: 0.95;
        height: 90px;
    }

    #hero-logo {
        max-width: 75%;
    }

    .tdx-mobile-canary {
        display: block;
    }

    .tdx-image-row .uk-cover-container {
        min-height: 340px;
    }

    /* navbar during scroll */
    nav.uk-sticky-fixed {
        opacity: 0.95;
        height: 90px;
    }
    .tdx-mobile-canary {
        display: block;
    }
}