// Palette
@primary: color(#000);
@accent-sub: color(#EC2027);
@accent-sub-lt: lighten(@accent-sub, 10%);
@accent-main: color(brown);
@accent-main-lt: lighten(@accent-main, 30%);
@accent-lt-70: lighten(color('brown'), 70%);
@muted: color(#bac6b8);
@muted2: color(#edeff2);
@muted-dk-30: darken(@muted, 30%);
@muted-dk-60: darken(@muted, 60%);

// Slots
@background-primary: #353535;
@background-secondary: @muted2;
@slope-bg: @primary;
@footer-bg: @primary;
@nav-link: color(#d6d6d6);
@nav-bg: @primary;
@nav-link-hover: @accent-sub;
@nav-link-bg-hover: 'white';
@body-text: color(#fff);
@body-text-light: @muted;
@quote-switcher-text: @accent-sub;
@button-default-bg: @accent-sub;
@button-hover-bg: @accent-sub-lt;

// Fonts
.body-font {
    font-family: 'Open Sans', sans-serif;
}

.hero-font {
    font-family: 'Roboto', cursive;
}
