/*
* Theme CSS (Lawn)
* =============================================================
*/

h3.boxtitle {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0 0 10px #000;
}
.tdx-subheader h3 {
    font-size: 300%;
    opacity: 1;
    text-shadow: 0 0 8px #000;
}

/*--- Navigation ---*/
.black{
    position:fixed;
    top:0;
    background:transparent;
    width:100%;
    height:80px;
    z-index: 999;    
  }
  .black ul{
    list-style-type:none;
    padding:15px 0 0 0;
  }  
  .blue{
    position:fixed;
    top:0;
    background:#fff;
    width:100%;
    height:80px;
  }
/*------*/

.clear {
    clear:both;
    float:none;
}
.light {
    background: #fff;
    color: #666;
    padding-bottom: 2em!important;
}
.uk-link, a {
    color:@accent-sub;
}
.uk-link, a:hover {
    text-decoration: underline;
    color: #464646;
}
.uk-navbar-nav>li>a {
    text-transform: none;
    font-size: 1.1em;
}
// nav .tdx-border-right {
//     display: none;
// }
nav.uk-sticky-fixed {
    height:90px;
}
.uk-cover-container {
    overflow:hidden;
}
.uk-height-large {
    height: 800px;
}
.uk-height-medium {
    height: 80px;
    overflow: hidden;
    background-color:#000;
}
.galleryrowicon {
    color: @accent-sub;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 15%;
}
.servicesum a {
    text-decoration: none;
}
.contact-border {
    float:left;
    padding-left:20px;
    border-left:1px solid #e8e8e8;
}
.uk-input {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
}
.uk-textarea {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
}

.tdx-gdpr-acknowledge {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 85%;
    font-style: italic;
}
.foot {
    color:@background-primary;
}
footer .uk-divider-icon {
    opacity: 1;
}
.footer-link {
    color:@accent-sub;
}
@media (max-width: 768px) {
    .mobile-center {
        text-align: center;
    }
}

