    {{!-- <footer>
        <div>
            <hr class="uk-divider-icon">
            <div>
                {{{content.copyright}}}
            </div>
            <div class="uk-align-center">
                <p class="uk-text-center">
                    <a href="" uk-totop uk-scroll ></a>
                </p>    
            </div>
            <div class="clear"></div>
            <div class="uk-container" style="text-align:center;">
                <a href="https://www.facebook.com/Castle-Realty-Jamkee-Properties-Property-Management-170390600305476/" target="_blank"><img class="facebook" src="/images/FB.png"></a>
            </div>
            <div class="uk-container">
                <p class="uk-text-center" style="color:#fff;">
                    &copy; Copyright 2018 | Ground Specialties & ThawDawg | Built on <a href="https://trustdyx.com/" target="_blank"><span style="color:#414141;">Trustdyx</span></a> 
                </p>
            </div>
        </div>
    </footer> --}}

    <footer>
        <hr class="uk-divider-icon">
        <div class="uk-flex uk-flex-center uk-text-center">
            <div class="clear"></div>
                <div class="foot">
                    <p style="font-size:1.3em; text-align:center; color:#fff;">(320) 983-5557  •  545 Hwy #23 East - #103 Milaca, MN 56353</p>
                    <p style="color:#fff;">&copy; Copyright 2018 | Ground Specialties | Built on <a href="https://trustdyx.com/" class="footer-link" target="_blank" style="color:#f32735">Trustdyx</a></p>
                </div>
            <div>
                <a href="" uk-totop uk-scroll ></a>
            </div>
        </div>
    </footer>