    <title>{{title}} | {{sitename}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="pagename" content="{{pagename}}">
    {{> components/social/google-plus }}
    {{> components/social/opengraph }}
    {{> components/social/twitter-card }}
    {{> components/util/favicon }}

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <link rel="stylesheet" href="{{baseUrl}}/css/template.css" />
