{{#with data}}
    <div class="uk-offcanvas-content">
        <nav id="main-nav" class="uk-navbar-container" uk-navbar uk-sticky>
            <div class="uk-navbar-left uk-margin-left">
                <a class="uk-navbar-item uk-logo" href="{{domain}}/#">
                <img id="logo" src="{{domain}}/{{logo}}" alt="logo">
            </a>
            </div>
            {{!-- <div class="uk-navbar-center uk-visible@m callbtn">
                {{#if telephone}}
                <div class="uk-container uk-padding-small uk-text-center">
                    <h4><a href="tel:+1{{default telephone}}" class="uk-button uk-button-default"><span uk-icon="icon:phone; ratio:1"></span>Call or Text: {{phoneNumber telephone}}</a></h4>
                </div>
                {{/if}}
            </div> --}}
            <div class="uk-navbar-center uk-visible@m callbtn">
                {{#if telephone}}
                <div class="uk-container uk-padding-small uk-text-center">
                    <h3><a href="{{domain}}/contact" class="uk-button uk-button-default">Contact Us Today</a></h3>
                </div>
                {{/if}}
            </div>
            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav uk-visible@m uk-text-middle">
                    {{#each menu}}
                    <li class="tdx-fade1">
                        {{#if submenu}}
                        <li class="tdx-fade1">
                            <a href="{{#if link}}{{link}}{{else}}#{{/if}}" {{#if open_tab}}target="_blank"{{/if}}>{{@key}}</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{#each submenu}}
                                    <li><a href="{{link}}" {{#if open_tab}}target="_blank"{{/if}}>{{@key}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="tdx-border-right"></div>
                        </li>
                        {{else}}
                        <a href="{{link}}" {{#if open_tab}}target="_blank"{{/if}} {{#if ukscroll}}{{#eq ../../pagename 'index'}}uk-scroll{{/eq}}{{/if}}>{{@key}}</a>
                        {{/if}}
                        <div class="tdx-border-right"></div>
                    </li>
                    {{/each}}
                </ul>
                <a class="uk-hidden@m uk-navbar-toggle-icon uk-icon" href="tel:+1{{default telephone}}" style="font-size:.7em; text-align:center;"><div uk-icon="icon: phone; ratio: 1.5" style="margin-bottom:8px;"></div><br><br>Call or Text</a>
                <a class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon" href="#mobimenu" uk-toggle>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" ratio="2">
                        <rect y="9" width="20" height="2"></rect>
                        <rect y="3" width="20" height="2"></rect>
                        <rect y="15" width="20" height="2"></rect>
                    </svg>
                </a>
            </div>
        </nav>
        <div id="mobimenu" uk-offcanvas="flip: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-light tdx-mobimenu">
                    {{#each menu}}
                    <li>
                        <a href="{{link}}" {{#if open_tab}}target="_blank"{{/if}}>{{@key}}</a>
                        {{#if submenu}}
                            <ul class="tdx-mobisubmenu">
                            {{#each submenu}}
                                <li><a href="{{link}}" {{#if open_tab}}target="_blank"{{/if}}>{{@key}}</a></li>
                            {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{#if telephone}}
                    <li>
                        <a href="tel:+1{{default telephone}}">Call</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
{{/with}}