    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
    
    <!-- Quote Switcher -->
    <script>
        $().ready(function () {
            function startQuoteSwitcher(selector, timing) {
                var max = $(selector).length;
                if(max) {
                    var idx = 0, timing = timing || 5000, intervalId = 0;
                    var func = function () {
                        UIkit.switcher(selector + ' .tdx-quote-switcher-nav ul').show(idx++);
                    };
                    intervalId = setInterval(func, timing);
                    $(selector + ' .tdx-quote-switcher-nav a').on('click', function () {
                        clearInterval(intervalId);
                    });
                }
            }
            if (window.matchMedia('(min-width: 960px)').matches) {
                startQuoteSwitcher('#tdx-qs-1');
            }
        });
    </script>

    <!-- Navigation -->
    <script>        
        $(document).ready(function(){
        $(window).scroll(function(){
            var scroll = $(window).scrollTop();
            if (scroll > 0) {
                $(".black").css("background" , "rgba(0,0,0,.5)");
            }

            else{
                $(".black").css("background" , "transparent");  	
            }
        })
        })
    </script>

    {{> scripts/google-maps-js data=googleMaps }}
    {{> scripts/google-analytics-js data=googleAnalytics }}
    {{> scripts/contact-form-js data=contactForm  }}
    {{> scripts/tdxdd-js }}