{{#if data}}
{{#with data}}
    <div class="uk-margin-large-top uk-margin-large-bottom">
        <div class="tdx-slope">
            <div class="uk-container uk-padding uk-light">
                <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
                    {{#each items}}
                    <div uk-scrollspy="cls: uk-animation-slide-left;">
                        <div class="uk-card uk-card-default uk-card-body tdx-color-hdivider-container">
                            <h3 class="uk-card-title uk-text-uppercase"><span uk-icon="icon:{{icon}}; ratio: 2"></span> {{header}}</h3>
                            <div class="tdx-color-hdivider"></div>
                            <p class="uk-text-bold">{{{content}}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/with}}
{{/if}}