<div uk-grid>
    {{!-- <div class="uk-width-1-3@m contact-wrapper" style="float:left; padding-right:2.5%;">
        <h3 class="uk-legend uk-text-left">Contact</h3>
        <hr>
        <strong>Ground Specialties, Inc.</strong><br>
        545 Hwy #23 East - #103<br>
        Milaca, Mn 56353
        <br><br>
        <strong>Phone:</strong><br>
        Local: <a href="tel:13209835557">(320) 983-5557</a><br>
        Toll Free: <a href="tel:18669835557">(866) 983-5557</a>
        <br><br>
        <strong>Email:</strong><br>
        <a href="mailto:sales@groundspecialties.com" target="_blank">sales@groundspecialties.com</a>
    </div> --}}
    <div class="uk-width-expand@m">
        <div class="contact-wrapper">
            <form id="contactform" class="">
                <h3 class="uk-legend uk-text-center" style="color:#fff;">Contact Us</h3>
                <div class="uk-margin">
                    <input class="uk-input" placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                </div>
                <div class="uk-margin">
                    <input class="uk-input" placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" placeholder="Message" name="message" id="message" rows="10" aria-invalid="false"></textarea>
                </div>
                <div class="uk-margin tdx-gdpr-acknowledge">
                    <input class="uk-checkbox"  type="checkbox" name="privacy_acknowledge" id="privacy_acknowledge">
                    <label for="privacy_acknowledge">
                        By checking this box, you consent to your submitted data being collected and stored.
                    </label>
                </div>
                <div class="uk-margin" >
                    <input class="uk-input uk-button uk-button-default uk-align-center uk-width-1-2@m uk-light" style="display:none" type="button" value="Send A Message" id="submit" onClick="return submitContactForm();">
                </div>
                <div>
                    <input type="text" name="_hpx" id="_hpx" style="display:none" value="">
                    <input type="text" name="_zquery" id="_zquery" style="display:none">
                </div>
            </form>
        </div>
    </div>
</div>

