{{!--
    "cover": {
        "text": "Hero Text Here",
        "subheaderText": "The best since forever",
        "backgroundUrl": "images/1200x600.png",
        "logoUrl": "images/logo.svg"
    }
--}}
{{#if data}}
{{#with data}}
    <div class="uk-cover-container uk-height-large uk-visible@s">
        <img src="{{cdnUrl}}/{{backgroundUrl}}" alt="" uk-cover>
        <div class="uk-overlay uk-light uk-position-center">
            <div class="uk-container uk-text-center" >
                {{#if logoUrl}}
                <img id="hero-logo" class="uk-heading-hero" src="{{cdnUrl}}/{{logoUrl}}" alt="logo" uk-parallax="opacity: 1,0.3; scale: 1,0.75; viewport: 0.5;">
                {{else}}
                {{/if}}
            </div>
        </div>
    </div>
{{/with}}
{{/if}}