{{#if data}}
{{#with data}}
    <div class="tdx-image-row servicesum uk-visible@m">
        <div class="uk-child-width-expand@s uk-grid-collapse" uk-grid>
            {{#each items}}
            <div class="uk-cover-container uk-animation-toggle">
                <a href="{{cdnUrl}}/{{url}}" class="tdx-gallery-item tdx-zoom-11 uk-animation-scale-up">
                    <span class="galleryrowicon uk-animation-scale-up" uk-icon="icon: {{icon}}; ratio: 3"></span>
                    <h3 class="boxtitle">{{tiletitle}}</h3>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
{{/with}}
{{/if}}