
        <div class="uk-child-width-expand@s uk-grid-collapse uk-margin-medium-top uk-text-center" uk-lightbox="animation:slide" uk-grid>
            <div>
                <a href="/images/CU1.jpg">
                    <img src="/images/CU1.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="/images/CU3.jpg">
                    <img src="/images/CU3.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="/images/CU2.jpg">
                    <img src="/images/CU2.jpg" alt="">
                </a>
            </div>
        </div>
