{{#with data}}
<div class="uk-margin-large-top uk-margin-large-bottom">
    <div class="">
        <div class="tdx-quote-switcher uk-visible@m" id="tdx-qs-1">
            <div class="uk-container">
                <h2 class="uk-text-center" style="color:#EC2027;">Key ThawDawg Points</h2>
                <ul class="uk-light uk-switcher switcher-container uk-text-large uk-text-muted uk-text-center">
                    {{#each quotes}}
                    <li><h3>{{{html}}}</h3></li>
                    {{/each}}
                </ul>
                <div class="uk-position-relative  tdx-quote-switcher-nav">
                    <div class="uk-position-bottom-center">
                        <ul class="uk-dotnav" uk-switcher="connect: .switcher-container; animation: uk-animation-slide-left-medium, uk-animation-slide-right">
                            {{#each quotes}}
                            <li><a href=""></a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-hidden@m tdx-quote-mobile">
    <h2 class="uk-text-center" style="color:#EC2027;">Key ThawDawg Points</h2>
    <ul>
        {{#each quotes}}
        <li class="uk-text-center">
            <h3 style="color:#fff;">{{{html}}}</h3>
        </li>
        {{/each}}
    </ul>
</div>
{{/with}}