{{#if data}}
{{#with data}}
<div class="uk-cover-container uk-height-large tdx-subheader">
    <img src="{{cdnUrl}}/{{default ../backgroundUrl backgroundUrl}}" alt="" uk-cover>
    <div class="uk-overlay uk-light uk-position-center">
        <div class="uk-container uk-text-center">
            <h3 uk-parallax="opacity: 1; scale: 1,1.25; viewport: 0.75;">{{{default ../text ../title text}}}</h3>
        </div>
    </div>
</div>
{{/with}}
{{/if}}