{{!-- 
Use it like this:

{{> 
    components/tdxdd
    data-url="https://d1qljufibhikv.cloudfront.net/development.trustdyx.com/tdx-dynamic-data.json" 
    source="data-sample-1"
    fill-style="cover"
}}

Optionally, you can also provide a fill-style (cover, contain) for the background-size of each image.

--}}
{{#if hasTDXDynamicData}}
    {{#and dataurl source }}
    <div id="tdx">
        {{data-url}}
        <tdx-list 
            data-url="{{default data-url dataurl}}" 
            source="{{default source}}"
            image-fill-style="{{ default fill-style fillStyle 'cover' }}">
        </tdx-list>
    </div>
    {{/and}}
{{/if}}