<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
    {{> sections/head }}
</head>
<body>
    <div class="tdx-mobile-canary"></div>
    {{> sections/nav data=nav }}
    {{> sections/content-block }}
    {{> sections/footer }}
    {{> sections/scripts }}
</body>
</html>