// Palette
@rich-brown: color(#443525);
@rich-brown-lt: lighten(@rich-brown, 30%);
@coffee: color(#353535);
@darkest-brown: color(#1b1c1e);
@elvish-silver: color(#B4BEC2);

// Slots
@primary: color(#666);
@accent-sub: color(darkred);
@accent-sub-lt: lighten(@accent-sub, 10%);
@accent-main: color(brown);
@accent-main-lt: lighten(@accent-main, 30%);
@accent-lt-70: lighten(color('darkred'), 70%);
@muted: color(grey);
@muted2: lighten(@muted, 55%);
@muted-dk-30: darken(@muted, 30%);
@muted-dk-60: darken(@muted, 60%);

@background-primary: @coffee;
@background-secondary: @darkest-brown;
@slope-bg: @muted;
@footer-bg: @muted-dk-30;
@nav-link: @elvish-silver;
@nav-bg: @darkest-brown;
@nav-link-bg-hover: @nav-bg;
@nav-link-hover: @accent-main-lt;
@nav-link-bg-hover: @coffee;
@body-text: @muted;
@body-text-light: @elvish-silver;
@quote-switcher-text: @muted;
@button-default-bg: @accent-sub;
@button-hover-bg: @accent-sub-lt;

// Fonts
.body-font {
    font-family: 'Open Sans', sans-serif;
}

.hero-font {
    font-family: 'Roboto', cursive;
}
