{{#if hasGoogleMaps}}
{{#with data}}
    {{#and key}}
    <script>
        tdxInitMap = (function() {
            return function() {
                var latlng = new google.maps.LatLng(45.5531344, -94.1700389);
                var options = {
                    zoom: 13,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [{
                        'featureType': 'administrative',
                        'elementType': 'labels.text.fill',
                        'stylers': [{
                            'color': '#444444'
                        }]
                    }, {
                        'featureType': 'administrative.country',
                        'elementType': 'geometry',
                        'stylers': [{
                            'visibility': 'on'
                        }]
                    }, {
                        'featureType': 'administrative.country',
                        'elementType': 'geometry.stroke',
                        'stylers': [{
                            'visibility': 'on'
                        }]
                    }, {
                        'featureType': 'administrative.country',
                        'elementType': 'labels.text',
                        'stylers': [{
                            'hue': '#fff600'
                        }]
                    }, {
                        'featureType': 'landscape',
                        'elementType': 'all',
                        'stylers': [{
                            'color': '#f2f2f2'
                        }]
                    }, {
                        'featureType': 'poi',
                        'elementType': 'all',
                        'stylers': [{
                            'visibility': 'off'
                        }]
                    }, {
                        'featureType': 'road',
                        'elementType': 'all',
                        'stylers': [{
                            'saturation': -100
                        }, {
                            'lightness': 45
                        }]
                    }, {
                        'featureType': 'road.highway',
                        'elementType': 'all',
                        'stylers': [{
                            'visibility': 'simplified'
                        }]
                    }, {
                        'featureType': 'road.arterial',
                        'elementType': 'labels.icon',
                        'stylers': [{
                            'visibility': 'off'
                        }]
                    }, {
                        'featureType': 'transit',
                        'elementType': 'all',
                        'stylers': [{
                            'visibility': 'off'
                        }]
                    }, {
                        'featureType': 'water',
                        'elementType': 'all',
                        'stylers': [{
                            'color': '#cad3d5'
                        }, {
                            'visibility': 'on'
                        }]
                    }],
                    draggable: true,
                    zoomControl: true,
                    mapTypeControl: false,
                    streetViewControl: false,
                    scrollwheel: false
                };
                var map = new google.maps.Map(document.getElementById('{{default ../id id 'map-container'}}'), options);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: 'Our Location'
                });
            };
        })();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=tdxInitMap" async defer></script>
    {{else}}
    <script>console.error('No Google Maps API KEY Provided.');</script>
    {{/and}}
{{/with}}
{{/if}}