{{! 
RequiredDataFields: conversion_id, conversion_label, conversion_value;
}}

{{#with googleAdwords}}
{{#if conversion_id}}
<!-- Google Code for Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function () {
        var w = window;
        w.google_conversion_id = {{ conversion_id }};
        w.google_conversion_label = {{ conversion_label }};
        w.google_conversion_value = {{ conversion_value }};
        w.google_conversion_currency = "USD";
        w.google_remarketing_only = false;
	}
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function (url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function () {
            if (typeof (url) != 'undefined') {
                window.location = url;
            }
        }
        var conv_handler = window['google_trackConversion'];
        if (typeof (conv_handler) == 'function') {
            conv_handler(opt);
        }
    }
	/* ]]> */

</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
{{/if}} 
{{/with}}