{{#if hasTDXDynamicData}}
<script>
    function tdxddInit() {
        new TDX.Vue({
            el: '#tdx',
            components: { 'tdx-list': TDX.TDXList }
        });
    }
</script>
<script src="https://d3qxm6quch9xa6.cloudfront.net/js/tdxdd.min-1.0.3.js" async defer onload="tdxddInit()"></script> 
{{/if}}