{{#if hasToggleContactForm}}
    <script src="https://d3qxm6quch9xa6.cloudfront.net/js/validate.min-0.11.1.js"></script>
    <script src="https://d3qxm6quch9xa6.cloudfront.net/js/contact2.trustdyx.min-2.0.5.js"></script>
    <script src="https://d3qxm6quch9xa6.cloudfront.net/js/contact-validation.trustdyx.min-1.0.4.js"></script>
    <style>#contactform .error { color:red; }</style>
    <script>

        $().ready(function () {
            $('#privacy_acknowledge').on('change', function () {
                const isChecked = $(this).is(':checked');
                if (isChecked) {
                    $('#submit').show();
                } else {
                    $('#submit').hide();
                }
            });
        });

        function chooseApiKey() {
            var key = document.querySelector('select#cf-form-type option:checked').dataset.apikey;
            if(! key) {
                throw new Error('dataset-apikey="yourApiKey" is required in option element');
            }
            return key;
        }

        function submitContactForm() {
            var apiKey = chooseApiKey();
            var errors = gf.validate({
                defaults: ['name', 'email', 'phone', 'message']
            }, function() {
                if(!apiKey) {
                    throw new Error('ApiKey is not valid');
                }
                if(typeof goog_report_conversion !== 'undefined') {
                    goog_report_conversion();
                }
                trustdyx.submit('#contactform', apiKey, null, function() {
                    jQuery('#email-sending-status').replaceWith('<h4>Email Successfully Sent</h4><p>Thank you for contacting us! We will be in touch with you soon.</p>');
                });
                jQuery('.contact-wrapper').append('<div class="success" id="email-sending-status"><h4>Sending Email</h4><p>Just a moment while we process your request.</p></div>');
                jQuery('#contactform').slideUp('slow');
            });
        }
    </script>
{{/if}}