---
title: About Values and Our Story
description: Ground Specialties has always been family-owned and -operated - first by Marty and Teri Ringham, and now by Tony and Jennifer Ringham. 
draft: false
featuredImage: images/600x900.png
---
{{#> layouts/main }}
    {{#* inline "sections/content-block" }}
        {{> components/subhead text="About" data=components.subhead }}
        <div class="light">
        {{#> components/content }}
            <h1 class="uk-article-title" style="color:#464646;">ValuesValuesValues</h1>
            <ul>
                <li><strong>Family</strong> - Family-owned and -operated since 2000, Ground Specialties is now owned by the second generation of the Ringham family.</li>
                <li><strong>Creativity</strong> - ThawDawg - patented in the U.S. in 2003 - was a creatively brilliant design, brought to market by Marty and Teri Ringham, founders of Ground Specialties.</li>
                <li><strong>Reliability</strong> - The Ringham family works hard to ensure every ThawDawg meets exact specifications and becomes your new “man’s best winter friend.”</li>
            </ul>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and
                1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied
                by English versions from the 1914 translation by H. Rackham.
            </p>
            <h2 style="color:#464646;">Our Story</h2>
            <p>
                Ground Specialties has always been family-owned and -operated - first by Marty and Teri Ringham, and now by Tony and Jennifer Ringham. 
            </p>
            <p>
                Our first U.S. patent for ThawDawg was issued in 2003 (<a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&r=2&f=G&l=50&co1=AND&d=PTXT&s1=%22Ground+Specialties%22&OS=%22Ground+Specialties%22&RS=%22Ground+Specialties%22" target="_blank">#6,408,843</a>). Our patented ground-thawing system quickly established the ThawDawg name in the utility and cemetery industries as word spread about ThawDawg’s quick thaw rate and ease of use. Our Canadian patent was issued in 2007 (<a href="http://www.ic.gc.ca/opic-cipo/cpd/eng/patent/2330214/summary.html?" target="_blank">#2,330,214</a>).
            </p>
            <p>
                In 2017, Tony and Jennifer purchased the business from Marty and Teri, planning to continue its highly-rated service level and superior equipment design and build quality, but also planning to develop the marketing, support, and distribution networks further.
            </p>
            <p>
                Ground Specialties and word of its trademark ThawDawg has continued to spread throughout several industry circles over the past two decades, including cemetery associations, construction firms, concrete companies, fencing installers, and utility companies. ThawDawg and Ground Specialties now has a presence across North America.
            </p>
            <p>
                Tony and Jennifer’s hope for the future is to learn more of what the industry desires and is lacking, and potentially design additional equipment for the industry. They want to solve even more frost-related woes for those individuals working in the cold winter months.
            </p>
        {{/ components/content }}
        </div>
    {{/inline}}
{{/layouts/main}}