---
title: Contact Precision Imports
description: 
draft: false
featuredImage: images/logo.png
hasContactForm: true
---
{{#> layouts/main }}
    {{#* inline "sections/content-block" }}
        {{> components/subhead text="Contact" data=components.subhead }}
        {{#> components/content }}
            <div class="mobile-center" uk-grid >
                <div class="uk-width-1-4@m contact-wrapper" style="margin-top:20px;">
                    <h3 style="color:#fff;">Specialties, Inc.</h3>
                    Milaca, Mn 56353
                    <br><br>
                    <strong>Phone:</strong><br>
                    <a href="tel:13209835557">(320) 983-5557</a>
                    <br><br>
                    <strong>Email:</strong><br>
                    <a href="mailto:sales@groundspecialties.com" target="_blank">sales@groundspecialties.com</a>
                </div>
                <div class="uk-width-3-4@m" style="border-left: 1px solid rgba(255, 255, 255, 0.1)">
                    {{> components/contact-form }}
                </div>
            </div>
        {{/ components/content }}
    {{/inline}}
{{/layouts/main}}