---
title: ThawDawg and Ground Specialties
description: Ground Specialties offers the US and Canadian patented ThawDawg ground that unit for sale, providing a safe, effective, & efficient way to thaw frozen ground.
draft: false
hasContactForm: true
featuredImage: images/600x900.png
hasTDXDynamicData: true
---
{{#> layouts/main }}
    {{#* inline "sections/content-block" }}
        {{> components/cover data=components.cover }}
        {{> components/gallery-row data=components.galleryRow1 }}
    <div class="uk-container uk-width-1-1@l" style="padding-top:20px;">
        <div class="uk-width-4-5@m" style="margin:30px auto;" uk-grid>
            <div class="uk-width-3-5@m">
                <h1 style="color:#EC2027;">Ground Specialties, Inc.</h1>
                <p>
                    Ground Specialties offers the U.S.- and Canadian-patented ThawDawg ground thaw unit. ThawDawg provides a safe, effective, and efficient way to thaw frozen ground for excavation and digging. Frozen ground and frost can slow down or stop your team’s productivity - keep them moving for several more months each year with ThawDawg.
                </p>
                <p>
                    ThawDawg ground thaw equipment is fully-portable and suited to smaller-footprint projects. This unit is time-tested and perfectly designed for grave plots, fence posts, concentrated square-footage utility projects, and construction footings. 
                </p>
                <p>
                    Unlike other ground thawing equipment meant for larger surface areas, ThawDawg can be easily transported and set-up for operation by 2 people. It requires no more than one 20# propane cylinder for operation; no electricity, coolant, generators, or extensive manpower needed.
                </p>
                <h2 style="color:#EC2027;">ThawDawg Applications & Industries</h2>
                <ul>
                    <li>Construction</li>
                    <li>Cemetery</li>
                    <li>Sign</li>
                    <li>Underground Utilities (Pipe, Cable, Water, Sewer)</li>
                    <li>Concrete</li>
                    <li>Fencing </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="uk-width-expand@m">
                {{> components/contact-form }}
            </div>
        </div>
    </div>
    {{> components/quote-switcher data=components.quoteSwitcher }}
    {{/inline}}
{{/layouts/main}}