---
title: Example Content Page
draft: false
featuredImage: images/600x900.png
---
{{#> layouts/main }}
    {{#* inline "sections/content-block" }}
        {{> components/subhead text="Where we're located" data=components.subhead }}
        {{#> components/content }}
            <div id="map-container"></div>
        {{/ components/content }}
    {{/inline}}
{{/layouts/main}}